In [26]:
%run -i '../scripts/cleaning.py'

In [11]:
'''
Enter month/days/sets/calls combination to select 
one or more sets of tweets to be returned as dataframe.

0 < num_tweets >= 100

'''
month = 2
days = [11,12,13,14,15,16,17]
sets = [1,2,3,4,5,6]
calls = [1,2,3,4,5]
num_tweets = 5
collection_type = 'ML'

df = ExtractTweets(month,days,sets,calls,num_tweets,collection_type)

df.head()

../scripts/cleaning.py:202: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  tweets['hashtags'] = entities[0]
../scripts/cleaning.py:203: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  tweets['media'] = entities[1]
../scripts/cleaning.py:204: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  tweets['symbols'] = entities[2]
../scripts/cleaning.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  tweets['urls'] = entities[3]
../scripts/cleaning.py:206: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  tweets['user_mentions'] = entities[4]

,id_str,text,created_hr,created_dotw,calltime,day,set,call,favorite_count,retweet_count,...,profile_background_color,profile_text_color,user_screen_name,statuses_count,verified,num_tags,num_media,num_symbols,num_urls,num_user_mentions
0,1094936570350747648,First day at my new job ðŸ˜Œ,16,Thu,2019-02-11 07:55:38.984121,11,1,1,0,0,...,F5F8FA,333333,racheeelLehman,126,False,0,0,0,0,0
1,1094936596519026688,@AlexHolleyFOX29 Absolutely!,19,Thu,2019-02-11 07:55:38.984121,11,1,1,0,0,...,F5F8FA,333333,DierolfWilliam,1010,False,0,0,0,0,1
2,1094936629930852352,PM loses moral high ground? I think he lost th...,16,Tue,2019-02-11 07:55:38.984121,11,1,1,0,0,...,F5F8FA,333333,WestPpc,86,False,0,0,0,1,0
3,1094936651741229057,Lawyers of the @TeamCavuto Please Please List...,15,Wed,2019-02-11 07:55:38.984121,11,1,1,0,0,...,000000,000000,DuffGear,1240,False,0,0,0,1,1
4,1094936745190264832,@marklevinshow I AM A PROTECTED CLASS. NO ONE ...,21,Fri,2019-02-11 07:55:38.984121,11,1,1,0,0,...,F5F8FA,333333,SergioAntoni7,5849,False,0,0,0,1,1